.article-header {
    position: fixed;
    width: 100%;
    height: min(10vw, 10vh);
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #373f51;
}

.article-header img {
    height: 80%;
    margin-left: min(3vw, 3vh);
    top: 10%;
    position: absolute;
}

.article-grid {
    display: grid;
    grid-template-columns: 25vw 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "areaA areaB"
        "areaA areaC";
    margin-top: min(10vw, 10vh);
}

.article-sidebar {
    grid-area: areaA;
    background-color: transparent;
    overflow: hidden;
    text-align: center;
    margin: min(5vw, 5vh) 0;
    font-size: min(4vw, 4vh);
}

.article-top {
    grid-area: areaB;
    background-color: #fff;
    padding: min(4vw, 4vh);
    overflow: hidden;
    border-style: solid;
    border-width: 0 0 min(0.2vw, 0.2vh) 0;
    border-color: #1B1B1E;
}

.article {
    grid-area: areaC;
    background-color: #fff;
    color: #000;
    padding: min(5vw, 5vh) min(10vw, 10vh);
}

.article-top * {
    user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -webkit-touch-callout: text;
}

.article * {
    user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -webkit-touch-callout: text;
}

.article-top #title {
    font-size: min(3.5vw, 3.5vh);
    font-weight: bold;
    font-family: "smart-ui";
}

.article-top #date {
    font-size: min(2vw, 2vh);
    font-family: "smart-ui";
}

.article p {
    margin-bottom: 1em;
    color: #000;
    font-size: min(2vw, 2vh);
}

.article #YouTube {
    display: block;
    width: min(35vw, 35vh);
    height: calc(min(35vw, 35vh) / 16 * 9);
}

@media (max-width: 767px) {
    .article-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            "areaA areaA"
            "areaB areaB"
            "areaC areaC";
        margin-top: min(10vw, 10vh);
    }

    .article p {
        font-size: min(4vw, 4vh);
    }
    
    .article-top #title {
        font-size: min(5vw, 5vh);
        font-weight: bold;
    }
    
    .article-top #date {
        font-size: min(3vw, 3vh);
    }

    .article #YouTube {
        display: block;
        width: 75vw;
        height: calc(75vw / 16 * 9);
    }
}