.article-header {
    position: fixed;
    width: 100%;
    height: min(10vw, 10vh);
    top: 0;
    left: 0;
    z-index: 110;
    background-color: #373f51;
}

.article-header img {
    height: 80%;
    margin-left: min(3vw, 3vh);
    top: 10%;
    position: absolute;
}

.article-grid {
    display: grid;
    grid-template-columns: 25vw 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "areaA areaB"
        "areaA areaC";
    margin-top: min(10vw, 10vh);
}

.article-sidebar {
    grid-area: areaA;
    background-color: transparent;
    overflow: hidden;
    text-align: center;
    margin: min(5vw, 5vh) 0;
    font-size: min(4vw, 4vh);
    overflow: hidden;
}

.article-top {
    grid-area: areaB;
    background-color: #fff;
    padding: min(4vw, 4vh);
    overflow: hidden;
    border-style: solid;
    border-width: 0 0 min(0.2vw, 0.2vh) 0;
    border-color: #1B1B1E;
}

.article {
    grid-area: areaC;
    background-color: #fff;
    color: #000;
    padding: min(5vw, 5vh) min(10vw, 10vh);
}

.article-top * {
    user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -webkit-touch-callout: text;
}

.article * {
    user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -webkit-touch-callout: text;
}

.article-top #title {
    font-size: min(3.5vw, 3.5vh);
    font-weight: bold;
    font-family: "smart-ui";
}

.article-top #date {
    font-size: min(2vw, 2vh);
    font-family: "smart-ui";
}

.article p {
    margin-bottom: 1em;
    color: #000;
    font-size: min(2vw, 2vh);
}

.article .markdown {
    margin-bottom: 1em;
    background-color: #1B1B1E;
    width: calc(50vw);
    padding: 1em;
    font-size: min(1.7vw, 1.7vh);
    border-radius: min(1vw, 1vh);
    -webkit-border-radius: min(1vw, 1vh);
    -moz-border-radius: min(1vw, 1vh);
    -ms-border-radius: min(1vw, 1vh);
    -o-border-radius: min(1vw, 1vh);
    counter-reset: line-number;
    font-family: "code";
    overflow: hidden;
}

.article .markdown p {
    color: #fff;
    font-size: min(1.7vw, 1.7vh);
    margin-bottom: 0.3em;
    counter-increment: line-number;
    display: list-item;
    padding-left: 1rem;
    margin-left: 1rem;
    word-break: break-all;
}

.article .markdown p::marker {
    content: counter(line-number);
    color: #aaa;
}

.article #YouTube {
    display: block;
    width: min(35vw, 35vh);
    height: calc(min(35vw, 35vh) / 16 * 9);
}

.article img {
    display: block;
    width: min(35vw, 35vh);
}

.article .ogp {
    position: relative;
    width: 50vw;
    height: min(10vw, 10vh);
    font-size: min(2vw, 2vh);
}

.article .ogp div {
    border-style: solid;
    border-width: min(0.3vw, 0.3vh);
    border-color: #aaa;
    border-radius: min(1vw, 1vh);
    -webkit-border-radius: min(1vw, 1vh);
    -moz-border-radius: min(1vw, 1vh);
    -ms-border-radius: min(1vw, 1vh);
    -o-border-radius: min(1vw, 1vh);
    height: min(10vw, 10vh);
    position: relative;
    overflow: hidden;
    margin-bottom: 1em;
}

.article .ogp #url {
    position: absolute;
    left: calc(min(25%, calc(min(10vw, 10vh) * 16 / 9)) + 2%);
    top: min(8vw, 8vh);
    font-size: min(1vw, 1vh);
    text-decoration: none;
    color: #777;
    word-break: keep-all;
    white-space: nowrap;
}

.article .ogp #img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: min(25%, calc(min(10vw, 10vh) * 16 / 9));
    height: min(10vw, 10vh);
    overflow: hidden;
    border: solid #aaa;
    border-width: 0 min(.2vw, .2vh) 0 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.article .ogp #img img {
    width: calc(min(10vw, 10vh) * 16 / 9);
    height: 100%;
    position: relative;
    left: calc((min(10vw, 10vh) * 16 / 9 - 100%) / 2 * -1);
    pointer-events: none;

}

.article .ogp #title {
    position: absolute;
    left: calc(min(25%, calc(min(10vw, 10vh) * 16 / 9)) + 2%);
    top: min(2.5vw, 2.5vh);
    font-size: min(2.2vw, 2.2vh);
    color: #000;
    font-weight: bold;
    font-family: "smart-ui";
    word-break: keep-all;
    white-space: nowrap;
}

@media (max-width: 767px) {
    .article-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            "areaA areaA"
            "areaB areaB"
            "areaC areaC";
        margin-top: min(10vw, 10vh);
    }

    .article p {
        font-size: min(4vw, 4vh);
    }

    .article-top #title {
        font-size: min(5vw, 5vh);
        font-weight: bold;
    }

    .article-top #date {
        font-size: min(3vw, 3vh);
    }

    .article #YouTube {
        display: block;
        width: 75vw;
        height: calc(75vw / 16 * 9);
    }

    .article .img {
        display: block;
        width: 75vw;
    }

    .article .markdown {
        width: 90%;
        font-size: min(3.7vw, 3.7vh);
        border-radius: min(1.5vw, 1.5vh);
        -webkit-border-radius: min(1.5vw, 1.5vh);
        -moz-border-radius: min(1.5vw, 1.5vh);
        -ms-border-radius: min(1.5vw, 1.5vh);
        -o-border-radius: min(1.5vw, 1.5vh);
    }

    .article .markdown p {
        font-size: min(3.7vw, 3.7vh);
        word-break: break-all;
    }

    .article .ogp #title {
        font-size: min(4vw, 4vh);
    }

    .article .ogp #url {
        font-size: min(2vw, 2vh);
    }
}