.bc {
    width: 100%;
    height: calc(min(100vw, 100vh) / 8);
    background-color: #373F51;
    position: relative;
    z-index: 100;
    overflow: hidden;
    font-family: "smart-ui";
}

.bc img {
    pointer-events: none;
    height: calc(min(100vw, 100vh) / 20);
    position: absolute;
    z-index: 101;
    top: calc(100% / 2 - min(100vw, 100vh) / 20 / 2);
    left: calc(100% / 2 - min(100vw, 100vh) / 20 / 2);
}

.bc::after {
    content: "";
    position: absolute;
    z-index: 105;
    top: calc(100% / 2 - min(100vw, 100vh) / 20 / 2 - min(100vw, 100vh) / 20 * 0.3);
    left: calc(100% / 2 - min(100vw, 100vh) / 20 / 2 - min(100vw, 100vh) / 20 * 0.3);
    width: calc(min(100vw, 100vh) / 20 / 2);
    height: calc(min(100vw, 100vh) / 20 / 2);
    border-style: solid;
    border-width: calc(min(100vw, 100vh) / 20 / 10) 0 0 calc(min(100vw, 100vh) / 20 / 10);
    border-color: white;
}

.bc::before {
    content: "";
    position: absolute;
    z-index: 105;
    top: calc(100% / 2 - min(100vw, 100vh) / 20 / 2 + min(100vw, 100vh) / 20 / 2 + min(100vw, 100vh) / 20 * 0.3);
    left: calc(100% / 2 - min(100vw, 100vh) / 20 / 2 + min(100vw, 100vh) / 20 / 2 + min(100vw, 100vh) / 20 * 0.3);
    width: calc(min(100vw, 100vh) / 20 / 2);
    height: calc(min(100vw, 100vh) / 20 / 2);
    border-style: solid;
    border-width: 0 calc(min(100vw, 100vh) / 20 / 10) calc(min(100vw, 100vh) / 20 / 10) 0;
    border-color: white;
}