.m-header {
    position: fixed;
    width: 100%;
    height: min(10vw, 10vh);
    top: 0;
    left: 0;
    z-index: 110;
    background-color: #373f51;
}

.m-header img {
    height: 80%;
    margin-left: min(3vw, 3vh);
    top: 10%;
    position: absolute;
}