.mc1 {
    width: 100%;
    height: min(100vw, 100vh);
    /* background-color: #4e69a8; */
    background-color: #373F51;
    position: relative;
    z-index: 100;
    overflow: hidden;
    font-family: "smart-ui";
}

.mc1-title-box {
    text-align: center;
    font-size: calc(min(8vw, 8vh));
    position: absolute;
    z-index: 101;
    width: min(60vw, 60vh);
    top: min(5vw, 5vh);
    left: calc((100vw - min(60vw, 60vh)) / 2);
    overflow: hidden;
}

.mc1-title-box::after {
    content: "";
    position: absolute;
    z-index: 102;
    width: min(60vw, 60vh);
    height: calc(min(8vw, 8vh) / 8);
    top: calc(min(8vw, 8vh) - min(0.7vw, 0.7vh));
    left: 0;
    background-color: white;
    background: repeating-linear-gradient(45deg, white 0, white min(1vw, 1vh), transparent min(1vw, 1vh), transparent calc(min(1vw, 1vh) * 2));

}