.mc1 {
    width: 100%;
    height: min(100vw, 100vh);
    /* background-color: #4e69a8; */
    background-color: #373F51;
    position: relative;
    z-index: 100;
    overflow: hidden;
    font-family: "smart-ui";
}

.mc1-title-box {
    text-align: center;
    font-size: calc(min(8vw, 8vh));
    position: absolute;
    z-index: 101;
    width: min(60vw, 60vh);
    top: min(5vw, 5vh);
    left: calc((100vw - min(60vw, 60vh)) / 2);
    overflow: hidden;
}

.mc1-title-box::after {
    content: "";
    position: absolute;
    z-index: 102;
    width: min(60vw, 60vh);
    height: calc(min(8vw, 8vh) / 10);
    top: calc(min(8vw, 8vh) - min(0.7vw, 0.7vh));
    left: 0;
    background-color: white;
    animation: title-lineframe 5s ease-in-out infinite 0s alternate both;
    -webkit-animation: title-lineframe 5s ease-in-out infinite 0s alternate both;
    border-style: solid;
}

.mc1-content1 {
    position: absolute;
    z-index: 103;
    font-size: min(7vw, 7vh);
    width: min(65vw, 65vh);
    left: calc((100vw - min(65vw, 65vh)) / 2);
    text-align: center;
    top: min(15vw, 15vh);
}

@keyframes title-lineframe {
    0% {
        width: 0;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        border-width: 0 min(0.5vw, 0.5vh) 0 0;
        border-color: transparent #DC31C0 transparent transparent;
    }
    10% {
        width: min(60vw, 60vh);
        top: calc(min(8vw, 8vh) - min(0.7vw, 0.7vh));
        left: 0;
        border-width: 0;
        border-color: transparent;
    }
    90% {
        width: min(60vw, 60vh);
        top: calc(min(8vw, 8vh) - min(0.7vw, 0.7vh));
        left: 0;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    100% {
        width: 0;
        transform: translateX(min(60vw, 60vh));
        -webkit-transform: translateX(min(60vw, 60vh));
        -moz-transform: translateX(min(60vw, 60vh));
        -ms-transform: translateX(min(60vw, 60vh));
        -o-transform: translateX(min(60vw, 60vh));
        border-width: 0 min(0.5vw, 0.5vh) 0 0;
        border-color: transparent transparent transparent #DC31C0;
    }
}