.mc3 {
    width: 100%;
    height: calc(min(100vw, 100vh) * 2.3);
    background-color: #1B1B1E;
    position: relative;
    z-index: 100;
    overflow: hidden;
    font-family: "smart-ui";
}

.mc3-products-area {
    position: absolute;
    z-index: 110;
    top: min(20vw, 20vh);
    left: 10vw;
    width: 80vw;
    height: calc(min(80vw, 80vh) * 9 / 16 * 4.4);
    justify-content: center;
}

.mc3-products-area::-webkit-scrollbar {
    display: none;
}

.mc3-product-box {
    display: block;
    width: min(80vw, 80vh);
    height: calc(min(80vw, 80vh) * 9 / 16);
    background-color: #fff;
    margin: min(2vw, 2vh) auto;
    border-radius: min(1vw, 1vh);
    filter: drop-shadow(min(0.4vw, 0.4vh) min(0.4vw, 0.4vh) min(0.4vw, 0.4vh) black);
    -webkit-border-radius: min(1vw, 1vh);
    -moz-border-radius: min(1vw, 1vh);
    -ms-border-radius: min(1vw, 1vh);
    -o-border-radius: min(1vw, 1vh);
    -webkit-filter: drop-shadow(min(0.4vw, 0.4vh) min(0.4vw, 0.4vh) min(0.4vw, 0.4vh) black);
    overflow: hidden;
    cursor: pointer;
}

.mc3-product-image-box {
    position: relative;
    width: min(80vw, 80vh);
    height: calc(min(80vw, 80vh) * 9 / 16);
    overflow: hidden;
}

.mc3-product-image {
    position: relative;
    top: 0;
    left: 0;
    z-index: 112;
    width: 100%;
    opacity: 1;
    pointer-events: none;
}

.mc3-product-box:hover .mc3-product-image {
    width: 125%;
    top: -12.5%;
    left: -12.5%;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    opacity: .5;
}

@keyframes article-summary-move {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    10% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    80% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }

    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
}
